.status.waiting {
    background-color: #FFC107;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.status.processing {
    background-color: #17A2B8;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.status.successful {
    background-color: #28A745;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.status.failed {
    background-color: #DC3545;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.status.red {
    background-color: #FF073A;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}


.stock-list li{
    @apply w-full py-5 text-center  text-lg hover:bg-slate-100/15 cursor-pointer rounded-xl
}