/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


.nav-links li{
  @apply relative transition-all duration-300 ease-in hover:bg-[#1d1b31]
}

.nav-links li .iocn-link{
  @apply flex items-center justify-between
}

.nav-links li a .link_name{
  @apply text-[18px] font-normal text-white transition-all ease-linear duration-300
}

.nav-links li a{
  @apply flex items-center
}

.nav-links li .sub-menu{
  @apply pt-[6px] pr-[6px] pb-[14px] pl-[80px] mt-[-10px] bg-[#1d1b31] hidden
}

.nav-links li .sub-menu a{
  @apply text-white text-[15px] py-[5px] whitespace-nowrap opacity-60 transition-all duration-300 ease-linear hover:opacity-100
}

.nav-links li .sub-menu.closed{
  @apply absolute left-full top-[-10px] mt-0 py-[10px] px-[20px] rounded-r-lg opacity-0 block pointer-events-none transition-none
}

.nav-links li:hover .sub-menu.closed{
  @apply top-0 opacity-100 pointer-events-auto transition-all duration-300 ease-linear
}

.nav-links li .sub-menu.closed .link_name{
  @apply block text-[18px] opacity-100
}







.home-section{
  position: relative;
  background: #f1f4ff;
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  padding: 12px;
}
.home-section.closed{
  left: 78px;
  width: calc(100% - 78px);
}


@media screen and (max-width: 400px){
  .sidebar{
    width: 240px;
  }
  .sidebar.close{
    width: 78px;
  }
  .sidebar .profile-details{
    width: 240px;
  }
  .sidebar.close .profile-details{
    background: none;
  }
  .sidebar.close .profile-details{
    width: 78px;
  }
  .home-section{
    left: 240px;
    width: calc(100% - 240px);
  }
  .sidebar.close ~ .home-section{
    left: 78px;
    width: calc(100% - 78px);
  }
}